body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:-7px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:16px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:60px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:87px;
  width:300px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u14 {
  position:absolute;
  left:250px;
  top:61px;
  width:60px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:250px;
  top:61px;
  width:30px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:165px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:192px;
  width:300px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u21 {
  position:absolute;
  left:10px;
  top:212px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:239px;
  width:300px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u24 {
  position:absolute;
  left:10px;
  top:259px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:286px;
  width:300px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:600px;
  width:1200px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u27_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1214px;
  height:20px;
}
#u28 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:10px;
  top:306px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:333px;
  width:300px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u32 {
  position:absolute;
  left:10px;
  top:366px;
  width:300px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:660px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:620px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:107px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:140px;
  width:300px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u41 {
  position:absolute;
  left:10px;
  top:690px;
  width:310px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
