body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:737px;
  width:320px;
  height:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:960px;
  width:320px;
  height:260px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:260px;
}
#u3 {
  position:absolute;
  left:2px;
  top:122px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u8 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:-7px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:70px;
  top:15px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:90px;
  width:320px;
  height:100px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u16 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:103px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#0000FF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:130px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#0000FF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:163px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#0000FF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:70px;
  top:102px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:70px;
  top:128px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:70px;
  top:162px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:130px;
  top:102px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:190px;
  top:102px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:250px;
  top:102px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:130px;
  top:129px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:190px;
  top:129px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:250px;
  top:129px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:130px;
  top:162px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:190px;
  top:162px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:250px;
  top:162px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:10px;
  top:220px;
  width:110px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:247px;
  width:300px;
  height:204px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:204px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:10px;
  top:50px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:70px;
  top:50px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:105px;
  top:49px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:600px;
  width:1200px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u57_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1214px;
  height:20px;
}
#u58 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:10px;
  top:620px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:440px;
  top:752px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:10px;
  top:840px;
  width:320px;
  height:100px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u64 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:20px;
  top:853px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#0000FF;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:20px;
  top:880px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#0000FF;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:20px;
  top:913px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#0000FF;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:80px;
  top:852px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:80px;
  top:878px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:80px;
  top:912px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:140px;
  top:852px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:200px;
  top:852px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:260px;
  top:852px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:140px;
  top:879px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:200px;
  top:879px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:260px;
  top:879px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:140px;
  top:912px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:200px;
  top:912px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:260px;
  top:912px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:20px;
  top:970px;
  width:110px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:20px;
  top:997px;
  width:300px;
  height:204px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:204px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:20px;
  top:753px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:80px;
  top:753px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:115px;
  top:751px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:350px;
  top:763px;
  width:70px;
  height:0px;
}
#u105_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u106 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:440px;
  top:850px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:10px;
  top:710px;
  width:110px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:10px;
  top:813px;
  width:170px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:350px;
  top:860px;
  width:70px;
  height:0px;
}
#u113_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u114 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:440px;
  top:880px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:490px;
  top:920px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:580px;
  top:920px;
  width:220px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:490px;
  top:880px;
  width:200px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:580px;
  top:950px;
  width:220px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:440px;
  top:983px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:350px;
  top:993px;
  width:70px;
  height:0px;
}
#u127_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u128 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:504px;
  top:782px;
  width:140px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:440px;
  top:782px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:440px;
  top:1014px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:490px;
  top:1014px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:580px;
  top:1014px;
  width:220px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:580px;
  top:1044px;
  width:220px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
