body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:810px;
  top:850px;
  width:280px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:410px;
  top:1010px;
  width:320px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u8 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:-7px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:70px;
  top:16px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:56px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:83px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:10px;
  top:126px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:153px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:120px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:10px;
  top:196px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:223px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:190px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:10px;
  top:266px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:293px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:260px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:286px;
  top:12px;
  width:27px;
  height:27px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:600px;
  width:1200px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u41_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1214px;
  height:20px;
}
#u42 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:10px;
  top:810px;
  width:320px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:10px;
  top:820px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u47 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:10px;
  top:820px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:3px;
  top:820px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:80px;
  top:826px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:20px;
  top:866px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:20px;
  top:893px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:10px;
  top:860px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:20px;
  top:936px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:20px;
  top:963px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:10px;
  top:930px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:20px;
  top:1006px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:20px;
  top:1033px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:10px;
  top:1000px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:20px;
  top:1076px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:20px;
  top:1103px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:10px;
  top:1070px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:10px;
  top:620px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:410px;
  top:900px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:465px;
  top:940px;
  width:130px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:410px;
  top:940px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:420px;
  top:1016px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:420px;
  top:1043px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:410px;
  top:1010px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  position:absolute;
  left:410px;
  top:980px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:80px;
  top:689px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:10px;
  top:660px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:80px;
  top:727px;
  width:60px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:160px;
  top:727px;
  width:170px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:10px;
  top:690px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:800px;
  top:620px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:800px;
  top:690px;
  width:352px;
  height:90px;
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:90px;
}
#u107 {
  position:absolute;
  left:2px;
  top:37px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:820px;
  top:710px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:890px;
  top:741px;
  width:174px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:970px;
  top:711px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:890px;
  top:711px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:802px;
  top:1020px;
  width:350px;
  height:80px;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
}
#u117 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:822px;
  top:1036px;
  width:190px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:982px;
  top:1036px;
  width:150px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:892px;
  top:1036px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:892px;
  top:1064px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:982px;
  top:1062px;
  width:150px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:530px;
  top:902px;
  width:13px;
  height:17px;
  font-size:14px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u129 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:543px;
  top:910px;
  width:259px;
  height:150px;
  text-align:left;
}
#u130_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:263px;
  height:20px;
}
#u130_seg1 {
  position:absolute;
  left:239px;
  top:-10px;
  width:20px;
  height:170px;
}
#u130_seg2 {
  position:absolute;
  left:239px;
  top:140px;
  width:24px;
  height:20px;
}
#u131 {
  position:absolute;
  left:154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:190px;
  top:690px;
  width:13px;
  height:17px;
  font-size:14px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u133 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:203px;
  top:698px;
  width:597px;
  height:37px;
}
#u134_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:601px;
  height:20px;
}
#u134_seg1 {
  position:absolute;
  left:577px;
  top:-10px;
  width:20px;
  height:57px;
}
#u134_seg2 {
  position:absolute;
  left:577px;
  top:27px;
  width:24px;
  height:20px;
}
#u135 {
  position:absolute;
  left:267px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:410px;
  top:1080px;
  width:210px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:410px;
  top:1110px;
  width:210px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:410px;
  top:1140px;
  width:210px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:410px;
  top:1040px;
  width:0px;
  height:90px;
}
#u142_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u142_seg1 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:40px;
  height:20px;
}
#u142_seg2 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:20px;
  height:110px;
}
#u142_seg3 {
  position:absolute;
  left:-30px;
  top:80px;
  width:34px;
  height:20px;
}
#u143 {
  position:absolute;
  left:-70px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:177px;
  top:55px;
  width:133px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:157px;
  top:125px;
  width:153px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:157px;
  top:195px;
  width:153px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:157px;
  top:265px;
  width:153px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:20px;
  top:1150px;
  width:300px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#666666;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u153 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:270px;
  top:828px;
  width:50px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:410px;
  top:826px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:465px;
  top:856px;
  width:130px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:410px;
  top:856px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:865px;
  top:856px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:865px;
  top:883px;
  width:300px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:855px;
  top:850px;
  width:320px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u168 {
  position:absolute;
  left:820px;
  top:865px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u169 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:820px;
  top:865px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u171 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:595px;
  top:861px;
  width:13px;
  height:17px;
  font-size:14px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u173 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:608px;
  top:870px;
  width:182px;
}
#u174_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:196px;
  height:20px;
}
#u174_seg1 {
  position:absolute;
  left:172px;
  top:-5px;
  width:20px;
  height:15px;
}
#u175 {
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:855px;
  top:930px;
  width:205px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:970px;
  top:930px;
  width:210px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#0066CC;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
