body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1338px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:970px;
  top:1031px;
  width:325px;
  height:50px;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u4 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u6 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:-7px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:70px;
  top:15px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:50px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:70px;
  top:50px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:105px;
  top:49px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:100px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:80px;
  top:100px;
  width:180px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:137px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:80px;
  top:137px;
  width:190px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:290px;
  top:135px;
  width:20px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:267px;
  top:13px;
  width:50px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:77px;
  width:300px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u33 {
  position:absolute;
  left:400px;
  top:0px;
  width:320px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:400px;
  top:10px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u36 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:400px;
  top:10px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:393px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:470px;
  top:15px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:410px;
  top:50px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:470px;
  top:50px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:505px;
  top:49px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:410px;
  top:100px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:480px;
  top:100px;
  width:180px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:410px;
  top:137px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:480px;
  top:137px;
  width:190px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:690px;
  top:135px;
  width:20px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:667px;
  top:13px;
  width:50px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:410px;
  top:77px;
  width:300px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:600px;
  width:1200px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u62_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1214px;
  height:20px;
}
#u63 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:10px;
  top:460px;
  width:310px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:410px;
  top:683px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:470px;
  top:713px;
  width:130px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:410px;
  top:713px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:10px;
  top:620px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:10px;
  top:740px;
  width:320px;
  height:15px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:10px;
  top:750px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u78 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:10px;
  top:750px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:3px;
  top:750px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:80px;
  top:755px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:20px;
  top:790px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:80px;
  top:790px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:115px;
  top:789px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:20px;
  top:840px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:90px;
  top:840px;
  width:180px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:20px;
  top:877px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:90px;
  top:877px;
  width:190px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:17px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:300px;
  top:875px;
  width:20px;
  height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:277px;
  top:753px;
  width:50px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:20px;
  top:817px;
  width:300px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u104 {
  position:absolute;
  left:20px;
  top:1200px;
  width:310px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:350px;
  top:800px;
  width:50px;
  height:-110px;
}
#u106_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u106_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:30px;
  height:20px;
}
#u106_seg2 {
  position:absolute;
  left:0px;
  top:-120px;
  width:20px;
  height:130px;
}
#u106_seg3 {
  position:absolute;
  left:0px;
  top:-120px;
  width:54px;
  height:20px;
}
#u107 {
  position:absolute;
  left:-40px;
  top:-78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:10px;
  top:1300px;
  width:320px;
  height:15px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u110 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:10px;
  top:1310px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u112 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:10px;
  top:1310px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:3px;
  top:1310px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:80px;
  top:1315px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:20px;
  top:1350px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:80px;
  top:1350px;
  width:60px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:115px;
  top:1349px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:20px;
  top:1400px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:90px;
  top:1400px;
  width:180px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:20px;
  top:1437px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:90px;
  top:1437px;
  width:190px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:17px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:300px;
  top:1435px;
  width:20px;
  height:20px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:277px;
  top:1313px;
  width:50px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:20px;
  top:1377px;
  width:300px;
  height:10px;
}
#u137_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u138 {
  position:absolute;
  left:350px;
  top:870px;
  width:50px;
  height:-110px;
}
#u138_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u138_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:60px;
  height:20px;
}
#u138_seg2 {
  position:absolute;
  left:30px;
  top:-120px;
  width:20px;
  height:130px;
}
#u138_seg3 {
  position:absolute;
  left:30px;
  top:-120px;
  width:24px;
  height:20px;
}
#u139 {
  position:absolute;
  left:-10px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:410px;
  top:750px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:410px;
  top:950px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:410px;
  top:1160px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:410px;
  top:985px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:470px;
  top:985px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:410px;
  top:1045px;
  width:115px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1165px;
  top:1047px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1075px;
  top:1048px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:510px;
  top:1045px;
  width:230px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1243px;
  top:1048px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:560px;
  top:985px;
  width:200px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#0066CC;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:500px;
  top:1190px;
  width:230px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#0066CC;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:410px;
  top:1190px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:20px;
  top:1760px;
  width:310px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:410px;
  top:460px;
  width:310px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:410px;
  top:1080px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:470px;
  top:1112px;
  width:192px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:410px;
  top:1112px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:340px;
  top:1220px;
  width:60px;
  height:-50px;
}
#u176_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u176_seg1 {
  position:absolute;
  left:40px;
  top:-60px;
  width:20px;
  height:70px;
}
#u176_seg2 {
  position:absolute;
  left:40px;
  top:-60px;
  width:30px;
  height:20px;
}
#u176_seg3 {
  position:absolute;
  left:50px;
  top:-54px;
  width:20px;
  height:14px;
}
#u177 {
  position:absolute;
  left:0px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:350px;
  top:890px;
  width:50px;
  height:200px;
}
#u178_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u178_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:50px;
  height:20px;
}
#u178_seg2 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:220px;
}
#u178_seg3 {
  position:absolute;
  left:20px;
  top:190px;
  width:34px;
  height:20px;
}
#u179 {
  position:absolute;
  left:-20px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:350px;
  top:1410px;
  width:50px;
  height:0px;
}
#u180_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u181 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:410px;
  top:1400px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:410px;
  top:1442px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:478px;
  top:1442px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:998px;
  top:1046px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:690px;
  top:1048px;
  width:15px;
  height:17px;
  font-size:14px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u191 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:705px;
  top:1056px;
  width:265px;
  height:0px;
}
#u192_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:279px;
  height:20px;
}
#u193 {
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:350px;
  top:880px;
  width:50px;
  height:80px;
}
#u194_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u194_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:60px;
  height:20px;
}
#u194_seg2 {
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:100px;
}
#u194_seg3 {
  position:absolute;
  left:30px;
  top:70px;
  width:24px;
  height:20px;
}
#u195 {
  position:absolute;
  left:-10px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:410px;
  top:780px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:470px;
  top:780px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:560px;
  top:780px;
  width:200px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#0066CC;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:470px;
  top:810px;
  width:192px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:410px;
  top:810px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:470px;
  top:840px;
  width:192px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:410px;
  top:876px;
  width:115px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:510px;
  top:876px;
  width:230px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:690px;
  top:879px;
  width:15px;
  height:17px;
  font-size:14px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u213 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:705px;
  top:888px;
  width:265px;
  height:168px;
}
#u214_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:269px;
  height:20px;
}
#u214_seg1 {
  position:absolute;
  left:245px;
  top:-10px;
  width:20px;
  height:188px;
}
#u214_seg2 {
  position:absolute;
  left:245px;
  top:158px;
  width:24px;
  height:20px;
}
#u215 {
  position:absolute;
  left:166px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:650px;
  top:985px;
  width:230px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:650px;
  top:780px;
  width:230px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
