body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:-7px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:15px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:450px;
  width:300px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:255px;
  top:16px;
  width:55px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:600px;
  width:1200px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u15_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1214px;
  height:20px;
}
#u16 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:630px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:680px;
  width:320px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:690px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u23 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:690px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:3px;
  top:690px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:81px;
  top:695px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:21px;
  top:1130px;
  width:300px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:265px;
  top:696px;
  width:55px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:420px;
  top:793px;
  width:170px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:420px;
  top:880px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:480px;
  top:880px;
  width:270px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:420px;
  top:1170px;
  width:170px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:420px;
  top:1200px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:490px;
  top:1200px;
  width:270px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:498px;
  top:1172px;
  width:13px;
  height:17px;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:420px;
  top:694px;
  width:170px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:420px;
  top:853px;
  width:130px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:550px;
  top:853px;
  width:270px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:800px;
  top:620px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:10px;
  top:725px;
  width:320px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:60px;
  top:731px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:120px;
  top:731px;
  width:160px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:280px;
  top:731px;
  width:40px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:10px;
  top:765px;
  width:320px;
  height:30px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:60px;
  top:771px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:120px;
  top:771px;
  width:160px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:280px;
  top:771px;
  width:40px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:45px;
  width:320px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:50px;
  top:51px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:110px;
  top:51px;
  width:160px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:270px;
  top:51px;
  width:40px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:85px;
  width:320px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:50px;
  top:91px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:110px;
  top:91px;
  width:160px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:270px;
  top:91px;
  width:40px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:10px;
  top:52px;
  width:40px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94 {
  position:absolute;
  left:10px;
  top:92px;
  width:40px;
  height:16px;
}
#u95 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u96 {
  position:absolute;
  left:21px;
  top:732px;
  width:40px;
  height:16px;
}
#u97 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98 {
  position:absolute;
  left:21px;
  top:772px;
  width:40px;
  height:16px;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:420px;
  top:730px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#008000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:480px;
  top:730px;
  width:270px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:420px;
  top:823px;
  width:130px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:480px;
  top:823px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:420px;
  top:940px;
  width:170px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-decoration:underline;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:420px;
  top:980px;
  width:320px;
  height:30px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:470px;
  top:986px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:530px;
  top:986px;
  width:160px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:690px;
  top:986px;
  width:40px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:right;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:430px;
  top:987px;
  width:40px;
  height:16px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:800px;
  top:1172px;
  width:320px;
  height:98px;
  font-size:14px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:98px;
}
#u122 {
  position:absolute;
  left:2px;
  top:41px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:810px;
  top:1185px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:810px;
  top:1215px;
  width:300px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:511px;
  top:1180px;
  width:289px;
  height:41px;
}
#u127_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:293px;
  height:20px;
}
#u127_seg1 {
  position:absolute;
  left:269px;
  top:-10px;
  width:20px;
  height:61px;
}
#u127_seg2 {
  position:absolute;
  left:269px;
  top:31px;
  width:24px;
  height:20px;
}
#u128 {
  position:absolute;
  left:115px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:420px;
  top:1020px;
  width:130px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:420px;
  top:1050px;
  width:130px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:420px;
  top:1080px;
  width:170px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:420px;
  top:1110px;
  width:170px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0066CC;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:490px;
  top:1230px;
  width:270px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
